.card {
  width: 300px;
  min-height: 150px;
  border-radius: 0.2rem;
  position: relative;
  padding: 1.5rem;
  background-color: #eee;
}

.dismiss_btn {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;
  font-size: 1.2rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
}

.dismiss_btn:hover {
  background-color: hsla(0, 0%, 93%, 50%);
}

.card_content {
  display: grid;
  grid-template-rows: auto auto;
}

.badge {
  border: 1px solid;
  width: fit-content;
  padding: 0.2rem 0.5rem;
  text-transform: capitalize;
  border-radius: 0.2rem;
  position: absolute;
  top: 1.7rem;
  right: 1.7rem;
  background-color: white;
  color: #222;
}

.card_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.2rem;
}

.card_text {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  background-color: hsla(0, 0%, 100%);
  padding: 1rem;
  border-radius: 0.2rem;
  color: #222;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.horizontal {
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: auto;
}

.shadow {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.color {
  background-color: pink;
}

.card p {
  font-size: 15px;
}

.width-fit {
  width: fit-content;
}
