.alert {
  max-width: 250px;
  border: 1px solid;
  padding: 0.7rem;
  border-radius: 0.2rem;
  background-color: #222;
}

.alert_text {
  width: 100%;
  word-break: break-all;
}

.success {
  color: green;
  background-color: rgb(88, 191, 136);
}

.warning {
  color: orange;
  background-color: rgb(245, 212, 149);
}

.error {
  color: red;
  background-color: hsl(0, 72%, 74%);
}

.info {
  color: rgb(43, 157, 195);
  background-color: rgb(210, 239, 248);
}

.temp_icon {
  border-radius: 100%;
  border: 1px solid;
  width: 1.5rem;
  height: 1.5rem;
  display: grid;
  place-items: center;
}

.alert_grid {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.5rem;
}
