.hero-section_home {
  display: grid;
  align-items: start;
  height: 80vh;
  text-align: center;
}

.hero-section_home > div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: left;
  max-width: 600px;
  text-align: left;
  padding: 4rem 3rem;
}

.title_home {
  font-size: 4rem;
}

.desc_home {
  font-size: 1.2rem;
}

.btn_common {
  padding: 0.5rem 1rem;
  width: fit-content;
  border-radius: 0.2rem;
  border: 1px solid;
  background-color: transparent;
  transition: 100ms linear all;
  font-size: 1.3rem;
}

.btn_common:hover {
  background-color: #222;
  cursor: pointer;
}

.btn_common:active {
  background-color: #eee;
  color: #222;
}
