.components {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.components_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.component_docs_path {
  text-transform: capitalize;
  width: auto;
}

.title_components {
  font-size: 1.8rem;
}
